<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
	<header>
	<div class="user-welcome">
	<!-- Welcome, --> <%= current_user ? current_user.username : "" %>
	</div>
	<nav>
	<ul>
	<% if  logged_in? %>
		<li><a href="/logout">Logout</a></li>
	<% else %>
		<li>
		<a href="/signup">Signup</a></li>
		<li>
		<a href="/login">Login</a></li>
		<li>
		<a href="/posts/new">Post</a></li>

	<% end %>
	</ul>

	</nav>
	</header>
		<%= yield %>
		<script src=""></script>
	</body>
</html>
