<h1>#LOGIN</h1>

<form action="/login" method="post">

<div class="">
<label for="username">Username</label>
<input type="text" name="user[username]">
</div>

<div class="">
<label for="password">Password</label>
<input type="text" name="user[password]">
</div>

<div class="">
<input type="submit">
</div>



</form>