<h1>Show</h1>

      <h3>User: <%= @user.username %> </h3>
      <% if current_user.id == @user.id %>
          <a href="/users/<%= @user.id %>/edit"><button class="btn btn-sm btn-primary">Edit Profile</button></a>
      <% end %>
