<h1>#Posts</h1>

<form action="/posts" method="post">

	<div class="">
		<label for="posts">Post</label>
		<input type="text">
	</div>

	<div class="">
		<label for="password">Password</label>
		<input type="text" name="user[password]">
	</div>

	<div class="">
		<input type="submit">
	</div>


</form>