<div class="front-page-post-container">
  <div class="front-page-posts">
    <h1>View Posts</h1>

    <h3> Post </h3>
            <br>
            <h4> User: <%= @user.username %> </h4>
            <hr>
            <p> <%= @post.text %> </p>

  </div>
</div>
